
@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
  background-color: #ff471a;
  font-family: "Montserrat", sans-serif;
  color: #d9d9d9;
}

/* Global links */
a:link {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: blue;
}
a:active {
  text-decoration: underline;
}

#title {
  font-size: 65px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 150px;
}
#main {
  position: relative;
}
#subtitle {
    position: absolute;
    display: inline-block;
    top: 58px;
    font-size: 18px;
    left: 34.7%;
    padding-right: 20px;
    box-sizing: border-box;
    margin-top: 15px;
    font-weight: 100;
}
#name {
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: transparent;
  border: solid 2px #d9d9d9;
  border-bottom: dotted;
  font-size: 35px;
  color: #d9d9d9;
  padding: 0;
  outline: none;
}
#search {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cccccc;
  font-weight: 100;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cccccc;
  font-weight: 100;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cccccc;
  font-weight: 100;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cccccc;
  font-weight: 100;
}
.error {
  border-color: red !important;
  outline: none;
}

.error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: red;
  font-weight: 100;
}
.error::-moz-placeholder { /* Firefox 19+ */
  color: red;
  font-weight: 100;
}
.error:-ms-input-placeholder { /* IE 10+ */
  color: red;
  font-weight: 100;
}
.error:-moz-placeholder { /* Firefox 18- */
  color: red;
  font-weight: 100;
}
#search:focus {
  outline: none !important;
}
.errormsg {
  display: inherit;
  text-align: center;
  margin-top: 24px;
  font-size: 15px;
}
